<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new auto quote record</title>
</head>
<body>
<div>
    <form th:action="@{/quoteauto_form/add}" th:object="${quoteauto}" method="post">
        <table>
            <tr>
                <td>Quote ID</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>Car Value</td>
                <td><input type="text" name="carValue"></td>
            </tr>
            <tr>
                <td>Driver Age</td>
                <td><input type="text" name="driverAge"></td>
            </tr>
            <tr>
                <td>Vehicle Age</td>
                <td><input type="text" name="vehicleAge"></td>
            </tr>
            <tr>
                <td>Accidents</td>
                <td><input type="text" name="accidents"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td><input type="text" name="location"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>